header
    nav
        .nav1
            position: absolute
            z-index: 1
            padding: 0 
            margin-left: 10%
            @media screen and (max-width:600px)
                margin: 0
                font-size: 11px
            @media screen and (min-width:768px) and (max-width:1024px)
                margin:0
        .endz
            @media screen and (max-width:600px)
                margin: auto !important
            @media screen and (min-width:768px) and (max-width:1024px)
                margin-left: 25% 
        .endzz
            @media screen and (min-width:768px) and (max-width:1024px)
                margin-left: 20%
        ul
            display: flex
            border-bottom: 1px solid white
            border-top: 1px solid white
            width: max-content
            padding: 10px 0px
            li
                list-style-type: none
                color: white
                a
                 margin: 0 
                 text-decoration: none
                 margin-left: 10px
                 margin-right: 10px
                 padding: 0px 5px
                 color: white
                a:hover
                    color: white
            li:hover
                color: white
                background-color:$colorRed             
    .bt1
        background-color: white
        border: none
        border-radius: 30px
        padding: 15px 30px
        margin: 0px 15px 0px 15px
        font-weight: lighter
    .bt2
        background-color: $colorRed
        color: white
        border: none
        border-radius: 30px
        padding: 15px 30px
        font-weight: lighter
    .img1
        background-image: linear-gradient(rgba(0.5, 0.5, 0.5, 0.800),rgba(1, 1, 1, 0.800)) , url(../img/banner1.jpg)
        background-size: cover
        background-position: center
        height: 100vh
    h1
        padding-top:15%
        padding-bottom: 40px
        color: white
        font-family: "Courgette"
        @media screen and (max-width:600px)
            padding-top: 100%
        @media screen and (min-width:768px) and (max-width:1024px)
            padding-top: 55%
            
            
        
        span
            color: $colorRed
    .bta
        height: 20px !important
        width: 20px !important
        border-radius: 50% !important             