.sc1
    img[alt="decoration_line"]
        width: 40%
        @media screen and (max-width:600px)
            width: 100% !important
.sc3img
    background-image: url(../img/book_table_bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    border-radius: 15px
    height: 90vh
    margin: 0 15%
    @media screen and (max-width:600px)
        margin: 0
        height: 100vh
    p
        padding-top: 50px
    .formz
        @media screen and (max-width:600px)
            text-align: center !important              
    input
        margin: 10px
        border-radius: 10px
        border: none
        padding: 10px 80px 10px 10px
    .selectOcass
        margin: 10px
        border-radius: 10px
        border: none
        padding: 10px 175px 10px 10px
    .selectNoperson
        margin: 10px
        border-radius: 10px
        border: none
        padding: 10px 145px 10px 10px
    .selecCuisine
        margin: 10px
        border-radius: 10px
        border: none
        padding: 10px 190px 10px 10px
.btn3
        background-color: $colorRed
        color: white
        border: none
        border-radius: 30px
        padding: 15px 30px
        font-weight: lighter
img[alt="salade César"]
    width: 80%
    border: 5px solid #EAEAEA
    border-radius: 10px
    @media screen and (max-width:600px)
        width: 100%
img[alt="salade poulet"] 
    width: 80%
    border: 5px solid #EAEAEA
    border-radius: 10px
    @media screen and (max-width:600px)
        width: 100%
.salade
    @media screen and (max-width:600px)
        text-align: end !important
    
.sc3index
    position: relative
    z-index: 1
    bottom: 40px
    left: 27%
    @media screen and (max-width:600px)
        left: 5%
    h5
        span
            color: white
            font-weight: lighter
    .indexstyle
        color: white
        background-color: #B02839
        width: max-content
        border-radius: 10px
        padding: 20px 30px
        @media screen and (max-width:600px)
            padding: 10px 10px
.sc3indexx
    position: relative
    z-index: 1
    bottom: 40px
    left: 7%
    @media screen and (max-width:600px)
        left: 5%
    h5
        span
            color: white
            font-weight: lighter
    .indexstyle
        color: white
        background-color: #B02839
        width: max-content
        border-radius: 10px
        padding: 20px 30px
        @media screen and (max-width:600px)
            padding: 10px 10px 
.textsc3
     margin-left: 25% 
.textsc33
    margin-left: 5%
    margin:0
