.Carnet
    background-color: #B02839
    height: max-content
    margin: 0 25%
    padding: 30px 0px
    color: white
    border-radius: 10px
    .size
        font-size: 60px
        margin-right: 50px
    .size:hover
        color: white