.sc4
    background-image: linear-gradient(rgba(0.6, 0.5, 0.5, 0.700),rgba(1, 1, 1, 0.300)) , url(../img/testimonials_background.jpg)
    background-position: right
    background-size: cover
    background-repeat: no-repeat
    h1
        padding-top: 50px
        font-family: "Courgette"
    span
        color:$colorRed
.sc4row
    margin-top: 5%
    @media screen and (max-width:600px)
        margin: 0
        padding: 0 
.maxbord
        border: 1px solid white 
        border-radius: 10px
        width: max-content
        height: max-content
        padding: 10px 5px 10px 5px
.héhé
    @media screen and (max-width:600px)
        padding-bottom: 50px
.test1
    @media screen and (max-width:600px)
        margin-top: 100px
img[alt="decoration_linee"]
    width: 40%
    @media screen and (max-width:600px)
        width: 100% !important
img[alt="Filleblonde"]
        border-radius: 50%
        height: 70%
        border: 5px solid #EAEAEA
        @media screen and (max-width:600px)
            height: 30%
            margin: 0 !important
        
       
    
    

  